.tabs {  
    display: flex;
}
.tab {  
  justify-content: center;
  text-align: center;
  position:relative;
  align-items: left;
  width: 100px;
  height: 40px;
  background: rgb(173, 173, 173);
  border-left: 1px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom: none;
  border-right: none;
  padding: 1px;
  cursor:pointer;
  
}
.tab-tab :hover  {
  background: rgb(247, 245, 246)!important;
  cursor:pointer;
}

.tab:not(:last-child) {
  border-color: 1px solid rgb(138, 133, 133);  
}
.tab.active {
  background: rgb(247, 245, 246);
  font-size: 17px;
  font-weight: bold;
}

.log {
  position:absolute;
  left: 270px;
  bottom: 5px;
}
.log2{
  position:absolute;
  left: 360px;
  bottom: 5px;
}
.log3 {
  position:absolute;
  left: 430px;
  bottom: 8px;
}