.container {
  text-align: center;
  color: rgb(84, 243, 110)
}
.title{
  font-size: 1.5em;
  margin: 10px 0;
  color: rgb(0, 0, 0)
}
.subtitle{
  font-size: 1em;
  margin: 10px 0;
  color: var(--text-color);
}